.encabezado {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px black;
    text-shadow: 0 5px 10px #000;
}

body {
    background: linear-gradient(135deg, green, white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botones {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 50px;
}

.boton {
    background-color: #10ac37;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 0 10px 15px black;
}

.boton:hover {
    background-color: #0b5e20;
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.mesa {
    width: 90%;
    margin-top: 20px;
    min-height: 200px;
    background-color: #2de25a;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: inset 0 10px 20px black;
}